* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position:fixed;
  top:0;
  width: 100%;
  background-color: crimson;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.head{
  top:77px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 22px;
  position: fixed;
  width: 100%;
  color:rgb(32, 44, 45);
  font-size: 50px;
  background-color: rgb(187, 161, 161);
}

.navbar h2 a {
  text-decoration: none;
  color: white;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 55px;
  list-style: none;
  padding-right: 3%;
}

.navbar ul li a {
  color: white;
  font-size: larger;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {
  font-weight: bold;
  color: black;
}
body{
  background-color:azure;
}
main{
  margin-top: 5%;
  text-align: center;
  padding: 100px;
  background-color: rgb(99, 99, 99);
}
main h1{
  color:rgb(255, 255, 255);
  font-weight:bolder;
  font-size: 70px;
}
.section1 {
  display: flex;
  padding: 90px 160px;
  gap:200px;
  align-items:stretch;
  font-size: larger;
}
.section1 a{
  text-decoration: none;
  background-color: rgba(170, 24, 24, 0.74);
  font-family:'Times New Roman', Times, serif;
  height: 250px;
  width: 300px;
  border: 4px;
  border-radius: 20px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex:1;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.section1 a:hover{
  background-color: rgba(199, 19, 19, 0.794);
}
.container{
  margin-top: 13%;
}
.box {
  background-color:rgb(195, 210, 210);
  border: 4px;
  border-radius: 20px;
  display:flex;
  padding: 50px 50px;
  margin-left: 5%;
  margin-top: 3%;
  height: 600px;
  width: 90%;
  gap:100px;
  align-items: center;
}
.box ul{
  font-size: 22px;
}
.box img{
  height:550px;
  width: 350px;
}

.about-container{
  margin-top: 3%;
  font-size: 23px;
  text-align: center;
  padding:80px;
}

.about-container p{
  padding-top: 20px;
  color:rgb(0, 43, 28);
}
.about-container h2,h3{
  padding-top: 40px;
}
.about-container h4{
  color: gray;
  padding-top:150px;
}
button{
  border-radius: 10px;
  height:50px;
  width:200px;
  margin-top:3%;
  margin-left:44%;
  margin-bottom: 2%;
  color:rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 20px;
  background-color: rgba(95, 85, 183, 0.726);

}
button:hover{
  background-color: rgba(95, 85, 183, 0.96)
}